<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodBook Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
    <form action="/login" method="post">
        <h1>Welcome to #1 social media KodBook!</h1>
        <hr>
        <label for="username">USERNAME:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">PASSWORD:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="LOGIN">
        <hr>
        <a href="/openResetPassword">Forgot password?</a>
        <a href="/openSignUp">Create new account</a>
    </form>
</body>
</html>