<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodBook SignUp</title>
<link rel="stylesheet" type="text/css" th:href="@{/signUp.css}">
</head>
<body>
    <form action="/signUp" method="post">
        <h1>Create the account on #1 social media</h1>
        <label for="username">USERNAME:</label>
        <input type="text" name="username" id="username" required>

        <label for="email">EMAIL:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">PASSWORD:</label>
        <input type="password" name="password" id="password" required>

        <label for="dob">DOB:</label>
        <input type="date" name="dob" id="dob" required>

        <label>GENDER:</label>
        <label><input type="radio" name="gender" value="M"> M</label>
        <label><input type="radio" name="gender" value="F"> F</label>
        <label><input type="radio" name="gender" value="0"> 0</label>

        <input type="submit" value="SIGN UP">

        <hr>
        <a href="/">Already have an account? Login instead</a>
    </form>
</body>
</html>